

		body{background-image:url(01.JPG);
				background-size:cover}

		#main {
			width:300px;
			height:500px;
			background:#9c9c9c9c;
			margin:auto
		}
		
		#calculateor{
			width:99%;
			height:40px;
			text-align:right;
			background:#2f2f65;
			font-size:30px;
			font-weight:800
		}
		#frist-line{
			width:60px;
			height:40px;
			font-size:25px;
			font-weight:800;
			color:orange;
			background:#2t2t22
		}
		
		#frist-line:hover{
			background:black;
			transition:0.5s;
			border:1.7px solid orange
		}
		
		#right{
			
			float:right;
		}
		
		#Cross{
			width:60px;
			height:40px;
			font-size:25px;
			font-weight:800;
			color:orange;
			background:#2t2t22
		
		}
		
		#time{
			
			width:400px;
			height:70px;
			background:black;
			opacity:1.5;
			color:orange;
			font-size:30px;
			margin:auto
			
		}
		
		
		#btnon{
			background:black;
			color:orange;
			width:300px;
			height:50px;
			border:3px solid red;
			font-size:25px;
			font-weight:600;
			margin-left:40px;
			margin-top:8px;
			outline:4px solid orange
			
		}
		